body {
    background: #0095CC !important;
}

.player {
    background: #28C5FF;
    color: black;
}

.cards {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    font-weight: bolder;
}

h6 {
    color: black !important;
}

.jumbotron {
    height: 100% !important;
    width: 100% !important;
    background: #005D7F !important;
}

footer {
    background: #0095CC !important;
    border-top: solid black 7px !important;
    text-align: center;
    color: white;
    height: 5%;
}

.jumbo_top {
    background-image: url(../images/sun-pattern.png) !important;
}